@import 'node_modules/normalize-scss/sass/normalize';
@import 'node_modules/sass-material-colors/sass/sass-material-colors';

body {
	background-color: material-color('pink', '200');
	font-family: "Roboto", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	font-weight: 300;
	font-size: 1em;
	margin: 0;
}

h1, h2, h3, h4, h5, h6 { 
	font-weight: 100; 
	margin: 0;
	padding: 0.5em;
}


.flexible-box { 
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: row;
	flex-direction: row;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-justify-content: center;
	justify-content: center;
}
.flexible-component { 
	flex-grow: 1;
	width: 30%;
	margin: 0.5em;
	padding: 0.5em;
	background: material-color('grey', '100');
	// &:hover { background-color: material-color('lime', '200'); }
}
.flexible-title { 
	width: 100%;
	text-align: center;
}
.flexible-column { 
	height: 20em;
    display: flex;
    display: -webkit-flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    justify-content: space-between;
    }
.annotation { margin-top: 2em; }
.stars { 
	color: material-color('cyan', '600');
	margin-top: 0.5em;
	font-size: 2em; 
	text-align: center;
	display: block;
}
.hero { 
	background-color: material-color('cyan','400');
	font-size: 4em;
	padding: 1em;
	font-weight: 100;
	color: white;
}
.hero-2 { 
	background-color: material-color('cyan','400');
	font-weight: 300;
	color: white;
	padding-bottom: 3em;
}
.hero-rating { 
	font-size: 8em;
	font-weight: 100;
	color: material-color('pink','800');
}
.talk-title { 
	font-weight: 500;
	text-transform: uppercase;
}
.date-title { 
	background-color: material-color('pink', '300');
	color: white;
	h2 { 
		border-bottom: 3px solid white; 
		padding: 1em;
		margin-bottom: 1em;
	}
}
.button { 
	color: black;
	text-align: center;
	margin: 1em;
	padding: 15px;
	border: none;
	border-radius: 5em;
	font-size: 15pt;
	font-weight: 500;
	text-decoration: none;
	background-color: material-color('lime', '300');
	&:hover { background-color: material-color('lime', '500'); }
}
.thank-you-hero {
	font-size: 2em;
	font-weight: 800;
	text-align: center;
	padding: 1em;
}

.tap-to-rate { 
	@extend .hero-rating;
	text-align: center;
	font-size: 2em;
}
.comments { 
	border: none;
	height: 17.5em;
	margin: 1em;
	padding: 1em;
	border-radius: 0.5em;
	box-shadow: inset 0em 0em 0.5em 0.5em material-color('grey','300');
}

.ratings-detail {
	background-color: material-color('pink','600');
	text-align: center;
	.flexible-column { justify-content: center; }
	.flexible-component { 
		padding: 2em;
		margin: 2em;
		width: 20%;
	}
	.talk-title { 
		background-color: transparent;
		color: white;
		font-weight: 800;
		text-align: left;
	}
}

@media screen and (max-width: 800px) {
    .flexible-component { 
    	width: 100%; 
    	margin: 1em;
    }
    .ratings-detail .flexible-component { 
    	width: 100%; 
    	margin: 1em;
    }
    .flexible-column { text-align: center; }
    .hero { font-size: 2em; }
}