@import 'node_modules/normalize-scss/sass/normalize';
@import 'node_modules/sass-material-colors/sass/sass-material-colors';

body {
	background-color: material-color('pink', '200');
	font-family: "Roboto", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	font-weight: 300;
	margin: 0;
}

h1, h2, h3, h4, h5, h6 { 
	font-weight: 100; 
	margin: 0;
	padding: 0.5rem;
}

.flexible-box { 
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: row;
	flex-direction: row;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-justify-content: center;
	justify-content: center;
}
.flexible-component { 
	flex-grow: 1;
	width: 25%;
	margin: 1.5rem;
	padding: 1.5rem;
	background: material-color('grey', '100');
}
.flexible-title { 
	width: 100%;
	text-align: center;
}
.flexible-column { 
	height: 20rem;
    display: flex;
    display: -webkit-flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    justify-content: space-between;
    }
.annotation { margin-top: 2rem; }
.stars { 
	color: material-color('cyan', '600');
	margin-top: 0.5rem;
	font-size: 2rem; 
	text-align: center;
	display: block;
}
.hero { 
	background-color: material-color('cyan','400');
	font-size: 4rem;
	padding: 1rem;
	font-weight: 100;
	color: white;
}
.hero-2 { 
	background-color: material-color('cyan','400');
	font-weight: 300;
	color: white;
	padding-bottom: 3rem;
}
.hero-rating { 
	font-size: 8rem;
	font-weight: 100;
}
.talk-title { 
	font-weight: 500;
	text-transform: uppercase;
}
.date-title { 
	background-color: material-color('pink', '300');
	color: white;
	h2 { 
		border-bottom: 3px solid white; 
		padding: 1rem;
		margin-bottom: 1rem;
	}
}
.button { 
	color: black;
	text-align: center;
	margin: 1rem;
	padding: 1rem;
	border: none;
	border-radius: 5rem;
	font-size: 1rem;
	font-weight: 500;
	text-decoration: none;
	background-color: material-color('lime', '300');
	&:hover { background-color: material-color('lime', '500'); }
}
.thank-you-hero {
	font-size: 2rem;
	font-weight: 800;
	text-align: center;
	padding: 1rem;
}

.tap-to-rate { 
	@extend .hero-rating;
	text-align: center;
	font-size: 2rem;
}
.comments { 
	border: none;
	height: 17.5rem;
	margin: 1rem;
	padding: 1rem;
	border-radius: 0.5rem;
	box-shadow: inset 0rem 0rem 0.5rem 0.5rem material-color('grey','300');
}

.ratings-detail {
	background-color: material-color('pink','600');
	text-align: center;
	.flexible-column { justify-content: center; }
	.flexible-component { 
		padding: 2rem;
		margin: 2rem;
		width: 20%;
	}
	.talk-title { 
		background-color: transparent;
		color: white;
		font-weight: 800;
		text-align: left;
	}
	.talk-speaker { 
		height: 300px;
		min-width: 200px;
		max-width: 300px;
		border-radius: 10000rem;
		background-color: material-color('pink','400');
		color: white;
	}
	.talk-rating { 
		background-color: transparent;
		color: white;
	}
}

@media screen and (max-width: 800px) {
    .flexible-component { 
    	width: 100%; 
    	margin: 1rem;
    }
    .ratings-detail .flexible-component { 
    	width: 100%; 
    	margin: 1rem;
    }
    .flexible-column { text-align: center; }
    .hero { font-size: 2rem; }
}