h4 {
  color: green;
}

.flexible-box { 
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: row;
	flex-direction: row;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
}
.flexible-component { 
	width: 200px;
	margin: 30px;
}